.every-header

  %h5
    %strong{style: 'color: rgb(195,195,195); padding-left: 10%;'} RECORD ACTIVITIES
  %h2{style: 'padding-left: 10%; max-width: 26em'} Add an activity to your personal Activity Log by choosing from a list of healthy options.
  .list-container
    .container
      %ul.nav.nav-tabs
        %li
          = link_to 'All', activities_path
        %li
          = link_to 'Overall Health', overall_path
        %li
          = link_to 'Fitness', fitness_path
        %li
          = link_to 'Nutrition', nutrition_path
        %li.active
          = link_to 'WVA Events', wva_events_path


    %br
    .row

      =@wva_events.each do |a|
        .col-sm-6.col-md-4
          .thumbnail{style: 'background: rgb(249,251,251);'}
            .caption
              %h3
                =a.title
                =image_tag(a.icon_path, height: '32', width: '32')
              %p=a.description
              .row
                .col-sm-6
                .col-sm-6
                  =link_to "LOG ACTION", [:new_activity_user_activity, activity_id: a.id, user_id: current_user.id] , :class=>"btn btn-default", :role=>"button"

          %br
