%h1 New Prize
= simple_form_for @prize,:method => :post, :url => prizes_path, html: { multipart: true } do |f|
  = f.input :title, :label => 'Title'
  = f.input :description, :as => :text, :label => 'Description'
  = f.input :point_value, :label => 'Point Value'
  = f.input :activity_status, :collection => [ 'A','I','D' ], :label => 'Status(Active,Inactive,Deleted)'
  = f.input :quantity, :label => 'Quantity'
  = f.file_field :image_path
  = f.button :submit


